parameters:
      level: max
      paths:
        - src
      strictRules:
          allRules: true
      ignoreErrors:
          -
              identifier: booleanNot.alwaysTrue
              path: src/Driver/LazyDriver.php
